<div class="panel-heading">友情链接列表
   <a style="float:right;margin-top:-6px;" href="/admin/system/addLink" class="btn btn-primary">
       添加友情链接</a>
</div>

<div class="panel-body">
    <div class="box-body">
        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-hover dataTable" >
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>友情链接名</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $links as $item}
                        <tr>
                            <td>{$item.id}</td>
                            <td>{$item.link_name}</td>
                            <td><a href="/admin/system/addLink/{$item.id}"><i class="fa fa-pencil fa-fw" style="font-size: 20px;" title="编辑"></i></a>
                                <a href="/admin/system/delLink/{$item.id}" onclick="return confirm('确定要删除该友情链接么？')"><i class="fa fa-trash-o fa-fw" style="font-size: 20px;" title="删除"></i></a>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 ">
                    {$links?"":"暂无数据"}
                </div>

            </div>
        </div>
    </div>

</div>