{extend name="layouts/main" /}
{block name="main"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">
            {$data.id==0?"添加":"编辑"}管理组
        </div>
        <div class="layui-card-body">
            <div  class="layui-form">
                <div class="box-body">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span class='x-red'>*</span>&nbsp;管理组名称</label>
                        <input type="hidden" name="id" id="id" value="{$data.id}"/>
                        <div class="layui-input-inline">
                            <input type="text" id="groupname" name="groupname" value="{$data.group_name}" lay-verify="required"
                                   class="layui-input"
                                   placeholder="请输入管理组名称">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">管理组描述</label>
                        <div class="layui-input-inline">
                            <input type="text" id="groupinfo" name="groupinfo" value="{$data.group_info}" class="layui-input"
                                   placeholder="请输入管理组描述">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <button class="layui-btn" onclick="dataSave()">确认保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //数据信息保存
    function dataSave() {
        var id=$("#id").val();
        var groupname=$("#groupname").val();
        var groupinfo=$("#groupinfo").val();
        $.ajax({
            type: "post",
            url: "{:url('/admin/group/add')}",
            data: "id=" + id+"&group_name="+groupname+"&group_info="+groupinfo ,
            success: function (data) {
                layer.msg(data.msg, {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                }, function(){
                    if(data.code==0){
                        window.location.href="{:url('/admin/group/list')}";
                    }
                });

            }
        });
    }
</script>
{/block}