<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="业务管理">&#xe6b8;</i>
                    <cite>业务管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('商铺转让管理','{:url("/admin/business/transfer")}')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商铺转让管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('二手房管理','{:url("/admin/business/handhouse")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>二手房管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('厂房仓库管理','{:url("/admin/business/workware")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>厂房仓库管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('求租求购管理','{:url("/admin/business/supplydemand")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>求租求购管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('招商加盟管理','{:url("/admin/business/joins")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>招商加盟管理</cite></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="用户管理">&#xe6b8;</i>
                    <cite>用户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('客服/精英管理','{:url("/admin/users/customers")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>客服/精英管理</cite></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="系统管理">&#xe6b8;</i>
                    <cite>系统管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('行业类型管理','{:url("/admin/system/industry")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>行业类型管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('商铺类型管理','{:url("/admin/system/shoptypes/1")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>商铺类型管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('加盟类型管理','{:url("/admin/system/shoptypes/2")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>加盟类型管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('友情链接管理','{:url("/admin/system/links")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>友情链接管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('策略文章管理','{:url("/admin/users")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>策略文章管理</cite></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
