<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="系统管理">&#xe6b8;</i>
                    <cite>系统管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('管理员管理','{:url("/admin/business/transfer")}')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>管理员管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('路由管理','{:url("/admin/business/handhouse")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>路由管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('管理组管理','{:url("/admin/group/list")}')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>管理组管理</cite></a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>
