{js href="/static/admin/plugins/jQuery/jquery-1.9.1.min.js" /}
<div class="panel-heading">{$customdetail.id==0?"添加":"编辑"}客服/精英</div>
<div class="panel-body">
    <form action="/admin/users/doAddCustomer" method="POST">
        <div class="box-body">


            <div class="form-group">
                <label id="namelabel">客服姓名</label>
                <input type="hidden" name="id" value="{$customdetail.id}"/>
                <input type="text" name="customername" value="{$customdetail.customer_name}" class="form-control" placeholder="请输入客服姓名">
            </div>

            <div class="form-group">
                <label id="imglabel">客服头像</label>
                <input type="text" name="customerimg" value="{$customdetail.customer_img}" class="form-control" placeholder="请输入头像地址">
            </div>

            <div class="form-group">
                <label id="phonelabel">手机号</label>
                <input type="text" name="customerphone" id="customerphone" value="{$customdetail.customer_phone}" class="form-control" placeholder="请输入手机号">
            </div>

            <div class="form-group">
                <label>数据类型</label>
                <input type="radio" name="datatype" value="0" id="datatype0"
                       {$customdetail.data_type==0?"checked":""} />
                <label for="datatype0" class="radioclass">&nbsp;客服</label>

                <input type="radio" name="datatype" value="1" id="datatype1"
                       {$customdetail.data_type==1?"checked":""} />
                <label for="datatype1" class="radioclass">&nbsp;精英</label>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">确认保存</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(function () {
        var data_type = {$customdetail.data_type?:0};
        switch (data_type) {
            case 0:    //客服
                $("#phonelabel").text("客服手机号");
                $("#imglabel").text("客服头像");
                $("#namelabel").text("客服姓名");
                $("#customerphone").attr("placeholder", "请输入手机号");
                break;
            case 1:    //精英
                $("#phonelabel").text("团队名");
                $("#imglabel").text("精英头像");
                $("#namelabel").text("精英姓名");
                $("#customerphone").attr("placeholder", "请输入团队名");
                break;
        }
        $('input[type=radio][name=datatype]').change(function () {
            switch (this.value) {
                case "0":    //客服
                    $("#phonelabel").text("客服手机号");
                    $("#imglabel").text("客服头像");
                    $("#namelabel").text("客服姓名");
                    $("#customerphone").attr("placeholder", "请输入手机号");
                    break;
                case "1":    //精英；
                    $("#phonelabel").text("团队名");
                    $("#imglabel").text("精英头像");
                    $("#namelabel").text("精英姓名");
                    $("#customerphone").attr("placeholder", "请输入团队名");
                    break;
            }
        });
    })
</script>